:host {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .details-box {
    text-align: center;
    border: 2px solid #fadb03;
    width: 15%;
  }

  .details-box p {
    padding: 5px 5px;
  }
  