:host {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.details-wrapper {
  height: 450px;
  width: 15%;
  padding: 10px 20px;
  border: 2px solid #fadb03;
}

.details-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: stretch;
  text-align: center;
}

.details-form textarea {
  flex: 0 30%;
  resize: none;
}

.details-box label {
  display: inline-block;
}
