* { 
  text-align: center;
}

:host {
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form__btn {
  margin: 20px 0;
}